

* {
    background-color: #040810;
}
.header {
    display: flex;
    justify-content: space-between;
    &__link {
    ul {
        display: flex;
        li {
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            list-style: none;
            margin-right: 20px;
            text-decoration: none;
        }
    }
    }    
    &__social {
        ul {
            display: flex;
            padding: 0;
            li {
                list-style: none;
                margin-right: 20px;
                a {
                    font-family: 'Merriweather';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}
.portfolio__link {
    display: block;
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 30px;
    &::before {
            content: '';
            display: block;
            margin: 55px auto 20px;
            width: 140px;
            height: 2px;
            background-color: #FFFFFF;
        }

.portfolio__prev {
    max-width: 80%;
    padding: 0 10%;
    border-radius: 10px;
}
    
}

.main {
    &__text{
        .name{
            margin-top: 85px;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            text-align: center;
            color: #FFFFFF;
        }
        .profession{
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            text-align: center;
            color: #01D5A2;
        }
        .location{
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .avatar{
        margin: 0 auto;
        width: 248px;
        height: 248px;
        border: 2px solid #01D5A2;
        border-radius: 100%;
        overflow: hidden;
        &__photo{
            max-width: 100%;
        }
    }

}

.about {
    margin-top: 85px;
    color: #FFFFFF;
    text-align: center;
    &__header {
        font-family: 'Merriweather';
        font-size: 36px;
        font-weight: 300;
    }
    &__text {
        max-width: 80%;
        margin: 0 10%;
        font-size: 25px;
        text-align: center;
    }
}

.portfolio{
    h2 {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        text-align: center;
        color: #FFFFFF;
    }
}
@import 'media';