@media (max-width: 1200px) {
    .title {
        font-size: 35px;
    }
    .conteiner {
        width: 980px;
    }
    .simple {
        .title_big {
            font-size: 70px;
            line-height: 70px;
        }
    }
   
}

@media (max-width: 991px) {
    .promo {
          .conteiner {
            width: 760px;
        }
        .promo_btn {
            margin: 45px auto;
            width: 313px;
            height: 60px;
            }
    }
}

@media (max-width: 767px) {
    .promo {
        .conteiner {
          width: 670px;
      }
    }
    .title {
        font-size: 27px;
    }
    .simple {
        .title_big {
            font-size: 60px;
            line-height: 60px;
        }
    }
    .logo .logo_text {
        font-size: 12px;
        line-height: 14px;
    }
}
